.heading {
    width: 100%;
    font-size: 20px;
    margin-top: 0px;
}
.status {
  font-size: 20px;

}
.status2 {
    font-size: 20px;
  
  }
  canvas {
    margin-top: 190px;
    background-color: white;
    border-style: solid;
    border-color: coral;
    border-radius: 10px;
    border-width: 4px;
   
    animation-name: glow;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes glow {
    from {
        box-shadow: 2px 2px 50px rgb(222, 115, 0);
    }

    to {
        box-shadow: 2px 2px 50px rgba(255, 167, 36, 0.66)
    }
}